# Project Analytics specific requirements
pandas==1.5.3
numpy==1.23.5
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.14.1
dash==2.9.3
statsmodels==0.13.5
scikit-learn==1.2.2
tensorflow==2.12.0
nltk==3.8.1
spacy==3.5.2
python-dotenv==1.0.0
snowflake-connector-python==3.0.2
